@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.container-full {
  width: 100%;
  overflow: hidden;
}
.main {
  min-height: 100vh;
  /* height: 100vh; */
  background: linear-gradient(to right top, #5f62f7c7, #d2d3ffc7);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.login {
  height: 100vh;
  /* background: #9fc9fb61;
  overflow: hidden;
  position: relative; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.login .title {
  margin-top: 12%;
  font-size: 40px;
  /* color: #e7a704; */
  font-family: "Oleo Script", cursive;
  z-index: 999;
}
.login-bg--left {
  bottom: 100px;
  left: -160px;
  transform: rotate(44deg);
}
.login-bg--right {
  transform: rotate(-44deg);
  right: -175px;
  top: 0;
}
.login-bg {
  position: absolute;
  width: 550px;
  height: 550px;
  object-fit: contain;
}
.login-form {
  text-align: center;
  background: red;
  width: 550px;
  /* min-height: 50%; */
  background-color: rgb(248 248 249 / 54%);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin: 20px;
  padding: 20px 40px;
  box-shadow: 0 0 10pt 3pt #99b2f747;
}

.form-group {
  padding: 15px 0;
}
.form-label {
  text-align: left;
  display: block;
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
}
.form-field {
  font-family: inherit;
  width: 100%;
  outline: 0;
  padding: 10px;
  background: transparent;
  box-sizing: border-box;
  border: 1px solid #e4e3ef;
  outline-offset: 0;
  border-radius: 10px;
  box-shadow: 0 0 10pt -1pt #c0cff7b8;
  font-size: 18px;
}
.form-btn {
  border: none;
  background: #281fb1;
  padding: 15px 34px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 25px;
  outline: none;
}

.gradient-group {
  position: absolute;
}

.gradient-1 {
  top: -164px;
  left: calc(50% - 516px);
  width: 526px;
  height: 526px;
  background: radial-gradient(
    27% 26% at 40% 45%,
    #fdfb0045 0,
    rgb(223 236 252) 100%
  );
}

.gradient-2 {
  top: -164px;
  left: calc(50% - 516px);
  width: 526px;
  height: 526px;
  background: radial-gradient(
    27% 26% at 40% 45%,
    #fdfb0045 0,
    rgb(223 236 252) 100%
  );
}

.gradient-3 {
  top: -164px;
  left: calc(50% - 516px);
  width: 526px;
  height: 526px;
  background: radial-gradient(
    27% 26% at 40% 45%,
    #fdfb0045 0,
    rgb(223 236 252) 100%
  );
}
/* The sidebar menu */
.sidenav {
  background: rgb(248 249 254 / 73%);
  flex: 0.3;
  /* padding: 20px 30px; */
}

.dashboard {
  height: 80vh;
  position: relative;
  display: flex;
}
.dashboard-container {
  margin: auto;
  width: 87%;
  /* background: white; */
  position: relative;
  border-radius: 20px;
  /* background: linear-gradient(
    to right top,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ); */
  backdrop-filter: blur(5px);
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px #8a8ffa;
}
.dashboard .content {
  overflow: auto;
  padding: 0px 20px;
  margin: 20px 5px;
  flex: 1;
}

.dashboard .site-title {
  font-size: 24px;
  font-family: "Oleo Script", cursive;
  font-weight: normal;
  padding: 15px 20px;
}

ul.menus {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

ul.menus li:hover {
  background: #ffffff7a;
}
ul.menus li a {
  padding: 15px 25px;
  text-transform: capitalize;
  font-size: 14px;
  color: #635f5f;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

ul.menus li span {
  margin: 0 30px;
}
.quoteMenuIcon {
  background: #00bcd438;
  padding: 11px;
  border-radius: 10px;
}
.catmenuIcon {
  background: #f7e4aa;
  color: #b98c06;
  padding: 11px;
  border-radius: 10px;
}
.authMenuIcon {
  background: #f7afc7;
  color: #e91e63;
  padding: 11px;
  border-radius: 10px;
}
.logoutMenuIcon {
  background: #e61d61;
  padding: 10px;
  color: white;
  box-shadow: -7px 8px 22px -3px #e91e63;
  border-radius: 10px;
}
.content-header {
  text-align: right;
  /* padding: 15px 0; */
}
table {
  background: #ffffff5e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -2px 2px 22px -3px #9caab1;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
table th {
  text-align: left;
  padding: 15px 0;
  font-weight: bold;
  color: gray;
  padding: 20px;
}
table td {
  font-size: 13px;
  font-weight: bold;
  padding: 16px 10px;
}
table tr:hover {
  background: #ffffffad;
}
table tr td:last-child {
  width: 15%;
}
.editMenuIcon {
  color: #281fb1;
  padding: 2px;
  font-size: 20px;
  background: #ffffff4f;
  padding: 7px;
  border-radius: 10px;
  box-shadow: -7px 8px 22px -3px #291fb0a6;
}
.trashMenuIcon {
  color: #f44336;
  padding: 2px;
  font-size: 20px;
  background: #ffffff4f;
  padding: 7px;
  border-radius: 10px;
  box-shadow: -7px 8px 22px -3px #f4433594;
  margin-left: 10px;
}
.content-section {
  /* margin: 45px 0; */
}
.quotes-card {
  background: #ffffffc7;
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0px 0px 7px 1px #b0dbf5;
}
.category-card {
  background: #ffffffc7;
  padding: 25px;
  border-radius: 10px;
  margin: 10px 5px;
  box-shadow: 0px 0px 7px 0px #f7e4aac7;
}
.quotes-info {
  border-top: 1px solid #e0d8d8;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote-category {
  color: gray;
  font-size: 14px;
  margin-right: 15px;
}
.quote-author {
  font-size: 15px;
  color: gray;
}
.quotes-action {
  width: 21%;
  text-align: right;
}
.quotes-quote {
  font-size: 14px;
  color: #565454;
  line-height: 2;
  font-weight: bold;
  word-spacing: 1.5px;
}
span.category-quotes--count {
  font-size: 13px;
  color: gray;
}

.category-action .editMenuIcon {
  font-size: 14px;
}
.category-action .trashMenuIcon {
  font-size: 14px;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
}
.category-name {
  margin: 8px 0;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    animation: 1s fadeIn;
  animation-fill-mode: forwards;
}

/* Modal Content */
.modal-content {
  background-color: #fefefee3;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header h3 {
  margin: 0;
}
.modal .form-field {
  padding: 5px;
  background-color: white;
  box-shadow: none;
}
.modal .form-label {
  text-align: left;
  display: block;
  margin: 5px 0;
  font-weight: bold;
  font-size: 14px;
}
.modal .form .form-btn {
  margin: 0;
}
@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 650px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  .dashboard {
    height: 90vh;
  }
  .login-bg {
    width: 300px;
    height: 300px;
  }
  .login-bg--left {
    left: -105px;
  }
  .login-form {
    width: auto;
  }
  .sidenav {
    display: none;
  }
}
